# Terraform working directories & state
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
terraform.tfstate.d/
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Talos and Kubernetes credentials
talosconfig
*.talosconfig
kubeconfig
*.kubeconfig

# Local tooling & editor files
.idea/
.vscode/
*.code-workspace
*.swp
*.swo
.DS_Store
Thumbs.db

# Backup files
*.bak